.profile-nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile-nav button {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 15px;
}

.profile-nav button:hover {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.123);
    border: none;
    cursor: pointer;
}

.profile-nav .profile-info {
    height: 50px;
    margin-left: 15px;
}

.profile-nav .profile-info h2{
    font-size: 18px;
}

.profile-nav .profile-info b{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.568);
}

.banner{
    width: 100%;
    background-color: #536471;
}

.banner img{
    width: 100%;
    aspect-ratio: 2/0.5;
    object-fit: cover;
}

.profile-data{
    width: 100%;
}

.profile-data .actions{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.profile-data .actions button{
    padding: 5px 15px;
    margin-right: 10px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.profile-avatar{
    transform: translateY(-100px);
    margin-left: 10px;
    width: 50%;
}

.profile-avatar img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid white;
    background-color: #536471;
}

.content-data{
    transform: translateY(-110px);
    width: 95%;
    margin: 2.5%;
}

.content-data b{
    font-size: 15px;
    color: #53647181;
    font-weight: normal;
}

.content-data p{
    color: #536471;
    font-weight: 400;
    padding-top: 10px;
}

.content-data .count{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;    
}

.content-data .count p{
    padding: 7px 10px;
}

.content-data .count b{
    color: black;
    font-weight: 700;
}

.content-data .tabs{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.content-data .tabs button{
    width: calc(100% / 3);
    background: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

.content-data .tabs button img{
    width: 24px;
    height: 24px;
}

.content-data .tabs button.active{
    border-bottom: 2px solid black;
}

.tab-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permet de créer des lignes */
    
}

.tab-content div{
    height: auto;
    margin: 0;
    padding: 0;
}

.tab-content div b{
    color: black;
    font-weight: 700;
    padding-right: 5px;
}

.tab-content div b.c2{
    color: black;
    font-weight: 700;
    padding-right: 5px;
    padding-left: 10px;
}

.tab-content img{
    width: calc(100% / 3); /* Limite la largeur de chaque image */
    aspect-ratio: 1/1;
    object-fit: cover;
}